
<div class="col-12">
	<div class="card card-primary card-tabs">
	<div class="card-header p-0 pt-1">
	<ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
	<li class="pt-2 px-3"><h3 class="card-title"><i>{{request.user.department}}</i></h3></li>
	<!-- fullscreen/restore toggle -->
	<a class="nav-link" data-widget="fullscreen" href="#" role="button">
		<i class="fas fa-expand-arrows-alt"></i>
	</a>
	<li class="nav-item">
	<a class="nav-link active" id="custom-tabs-two-home-tab" data-toggle="pill" href="#custom-tabs-two-home" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">Home</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" id="custom-tabs-two-profile-tab" data-toggle="pill" href="#custom-tabs-two-profile" role="tab" aria-controls="custom-tabs-two-profile" aria-selected="false">Inventory Record</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" id="custom-tabs-two-messages-tab" data-toggle="pill" href="#custom-tabs-two-messages" role="tab" aria-controls="custom-tabs-two-messages" aria-selected="false">Voucher <small>(Receiving)</small></a>
	</li>
	<li class="nav-item">
	<a class="nav-link" id="custom-tabs-two-settings-tab" data-toggle="pill" href="#custom-tabs-two-settings" role="tab" aria-controls="custom-tabs-two-settings" aria-selected="false">Voucher <small>(Transmittal)</small></a>
	</li>
	</ul>
	</div>
	<div class="card-body">
	<div class="tab-content" id="custom-tabs-two-tabContent">
	<div class="tab-pane fade show active" id="custom-tabs-two-home" role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">
		<!-- reminders -->
		This area will display information on a "Need-to-Know" basis. <br>
		Meaning, only files related to your respective departments will be displayed to you. <br>
		How was that made possible? Filter. The pages displayed will be filtered depending on the department you were tagged against. <br>
		

		Will probably separate the sheets here (if multiple files will be displayed) by tabs. <br>
		Sign-in with a Google account that has permissions to edit sheet. <br>
	</div>
	<div class="tab-pane fade" id="custom-tabs-two-profile" role="tabpanel" aria-labelledby="custom-tabs-two-profile-tab">
		<!-- gsheet for inventory record -->
		<iframe class="recordsTab" src="{{gso_inventory_link}}"></iframe>
	</div>
	<div class="tab-pane fade" id="custom-tabs-two-messages" role="tabpanel" aria-labelledby="custom-tabs-two-messages-tab">
		3
	</div>
	<div class="tab-pane fade" id="custom-tabs-two-settings" role="tabpanel" aria-labelledby="custom-tabs-two-settings-tab">
		4
	</div>
	</div>
	</div>

	</div>
	</div>
</div>
