{% extends 'user/users_base.html' %}

<!-- Users' Profile page -->
<!-- Self-explanatory page...I guess. LOL -->

{% block profile %}


      <div class="container">
        <div class="row">
            <!-- Profile Image -->
            <div class="card card-primary card-outline col-md-4">
              <div class="card-body box-profile">
                {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                  {% endfor %}
                {% endif %}
                <div>
                  <h2 class="profile-username text-right" style="position: absolute; left: 60%">{{user.username}}
                  </h2>
                  <p class="text-sm text-muted" style="position: absolute; left: 50%; bottom: 50%"><i>{{user.department}}</i></p>
                  <img class="profile-user-img img-fluid img-circle elevation-5"
                       src="{{user.image.url}}"
                       alt="User profile picture" style="width: 150px; height: 150px">


                </div>
                
                

                
                </h2>
                
                {% if user.username == request.user.username or user.is_admin %}
                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                      <span><small>Only you (and admin/s) can see and/or modify these information.</small></span>
                      <a title="Edit profile" class="fa fa-edit text-success" href="{% url 'profile-edit' user.username %}"></a>
                  </li>
                  <li class="list-group-item">
                    <b>TIN</b> <a class="float-right">xxx</a>
                  </li>
                  <li class="list-group-item">
                    <b>PAGIBIG</b> <a class="float-right">xxx</a>
                  </li>
                  <li class="list-group-item">
                    <b>GSIS</b> <a class="float-right">xxx</a>
                  </li>
                  <li class="list-group-item">
                    <b>PhilHealth</b> <a class="float-right">xxx</a>
                  </li>
                </ul>
                {% else %}
                <h3>### Personally Identifiable Information ###</h3>
                {% endif %}

                <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary col ml-1">
              <div class="card-header">
                <h3 class="card-title">About Me</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <p>{{user.profile.about_me}}</p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                <p class="text-muted">{{user.profile.location}}</p>

                <hr>

                <!-- Pro'ly, you need to add the Skills attribute to the Profile model. For now, remove this div or just leave this here. -->
                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                <p class="text-muted">
                  <span class="tag tag-danger">Add "skills" attribute to model</span><br>
                  <span class="tag tag-danger">Then use a For-Loop here</span><br>
                  <span class="tag tag-danger">To display them</span>

                </p>

                <hr>

                <strong><i class="mr-1"></i>Member since {{ user.date_joined|date:"F Y" }}</strong>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->


        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    {% endblock profile %}


